@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin:0;
    padding:0;
    font-family: "Lato", sans-serif;
}

/* shared style */
.contanier{
    width: 73%;
    max-width: 1420px;
    margin:0px auto;
    text-align: center;
}

.primary-description{
    font-size: 13px;
    font-weight: 400px;
    color:#27272778;
    /* margin-bottom: 30px; */
}
.primary-btn{
    font-size: 14px;
    font-weight: 600;
    background-color: #E55473;
    padding:20px;
    color:white;
    border:0px;
border-radius: 5px;}

.featured{
    text-align: center;
     max-width: 433px;
     margin:50px auto
 }
 section{
    margin-top:100px;
 }
/* banner style */
.banner{
    display: flex;
   align-items: center;
  justify-content: space-between;
    vertical-align: middle
    
}

.banner-text-con *{margin-bottom: 30px;
    
}
.banner-title{
    font-size: 58px;
    font-weight: 800;
}


.banner-text-con{
    max-width: 516px;

}

header{
    background-color: #e554731b;
}

/* banner img style */

.banner-img-con img{
    width: 100%;
}

.feature{
    max-width: 433px;
    margin:0px auto
}

/* feature related style */


.flower-img-container{
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: end;
    margin-top: 30px;
   
    
}


.flower-img{
    border-radius: 219px 219px 0px 0px;
background: rgba(167, 33, 98, 0.15);



    justify-content: end;
    padding:30px 25px 0px 25px;
    height: 392px;
    display: flex;
}


.flower-img img{
    width: 100%;
}


.flower p{
    font-size: 17px;
    margin-top: 12px;
    font-weight: 700;
   text-decoration: underline;
}