@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin:0;
    padding:0;
    font-family: "Lato", sans-serif;
}

/* shared style */
.contanier{
    width: 73%;
    max-width: 1420px;
    margin:0px auto;
}

.primary-description{
    font-size: 13px;
    font-weight: 400px;
    color:#27272778;
}
.primary-btn{
    font-size: 14px;
    font-weight: 600;
    background-color: #E55473;
    padding:20px;
    color:white;
    border:0px;
border-radius: 5px;}

.featured{
    text-align: center;
     max-width: 433px;
     margin:50px auto
 }
 section{
    margin-top:100px;
 }
/* banner style */
.banner{
    display: flex;
   align-items: center;
  justify-content: space-between;
    vertical-align: middle
    
}

.banner-text-con *{margin-bottom: 30px;
    
}
.banner-title{
    font-size: 58px;
    font-weight: 800;
}


.banner-text-con{
    max-width: 516px;

}

header{
    background-color: #e554731b;
}

/* banner img style */

.banner-img-con img{
    width: 100%;
}



/* feature related style */

.feature{
    text-align: center;
    max-width: 433px;
    margin:20px auto
}


.feature-title{
    font-size: 29px;
    font-weight: 600;
    margin-bottom: 20px;
}

.flower-img-container{
    display: flex;
    gap:20px;
    text-align: center;
}

.flower-img-container,.flower,.flower-img{
    background-color: #e554731e;
    border-radius: 200px 200px 0px 0px;
    padding:40px 30px   0px 30px;
    justify-content:space-between;
    align-items: end;
    height: 500px;
    display: flex ;
    margin-bottom: 20px;
}

.flower-img img{
    width: 100%;
}


.flower p{
    font-size: 17px;
    font-weight: 600;
    text-decoration: underline;
}