@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin:0;
    padding:0;
    font-family: "Lato", sans-serif;
}

/* shared style */
.contanier{
    width: 73%;
    max-width: 1420px;
    margin:0px auto;
    text-align: center;
   
}

.primary-description{
    font-size: 13px;
    font-weight: 400px;
    color:#27272778;
  
    /* margin-bottom: 30px; */
}
.primary-btn{
    font-size: 14px;
    font-weight: 600;
    background-color: #E55473;
    padding:20px;
    color:white;
    border:0px;
border-radius: 5px;}

.featured{
    text-align: center;
     max-width: 433px;
     margin:20px auto
    
  
   
 }
 section{
    margin-top:100px;
 }
/* banner style */
.banner{
    display: flex;
   align-items: center;
  justify-content: space-between;
    vertical-align: middle
    
}

.banner-text-con *{margin-bottom: 30px;
    
}
.banner-title{
    font-size: 58px;
    font-weight: 800;
}


.banner-text-con {
    max-width: 516px;
    text-align: left;
}
header{
    background-color: #e554731b;
}

/* banner img style */

.banner-img-con img{
    width: 100%;
    align-items: center;
    justify-content: center;
  }

.feature{
    max-width: 433px;
    margin:0px auto
}


.feature-title{
    font-size: 29px;
    font-weight: 800;
    margin-bottom:30px;
}
/* feature related style */
   
    .flower-img-container{
        display: flex;
        gap:20px;
        align-items: end;
        justify-content: space-between;
        margin-top: 30px;
    }


    .flower-img{
        background-color: #e5547322;
        border-radius: 200px 200px 0px 0px;
        padding:60px 25px 0px;
       max-height: 500px;
      display: flex;
       
       
    }

    .flower-img img{
        width: 100%;
      
    }

    .flower p{
        font-size: 12px;
        font-weight: 700;
        text-decoration: underline;
        margin-top: 20px;
    }

    .blue{
        background: rgba(5, 151, 160, 0.15);


    }

    .green{
        background: rgba(71, 125, 17, 0.15);
    }


    /* image-icon styling */

    .img-icon{
        display: flex;
        /* border:1px solid red; */
        justify-content: space-around;
        text-align: center;
        background: rgba(39, 39, 39, 0.05);
        font-weight: 600;
        font-size: 17px;
        padding:20px



    }

    /* hot-deal-container */

    #hot-deal-container{
        background: rgba(229, 84, 115, 0.05);


    }

    .hot-deal-img img {
        width: 100%;
    }

    .hot-deal{
        display:flex;
        justify-content: center;
        align-items: center;
        padding:20px 0px
    }

    .hot-deal .hot-des{
        margin:20px 0px
    }

    /* insta section styling */
    .insta-img-container{
        display: flex;
      margin-top:20px;
        justify-content: space-between;
        gap:10px
    }

    .inta-img img{
        width: 100%;
    }


    /* latest deal styling */
   #Latest-deal-con{
       background-image: url('FlowerAsset/Rectangle\ 9.png');
       padding:88px 0;
    }


    #Latest-deal-con form{
        display: flex;
        max-width:800px;
        margin:30px auto;
        padding:20px auto;
    }
   
    #Latest-deal-con {
        background-image: url("./FlowerAsset/Rectangle 9.png");
        background-repeat: no-repeat;
        padding: 80px 0;
        background-size: cover;
        background-position: center center;
    }
    
#Latest-deal-con  #form  {
   padding:16px;
   border:0px;
   border-radius: 8px;
   flex-grow: 1;
   max-width: 600px;
   margin-right: 10px;

}

.from{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   margin-top: 20px
   
   
;
}
.from-input{
   grid-column:span 2;
   max-height: 80px;
 
   width: 100%;
   background-color: white;
   display: flex;
   flex-grow: 1;
   border-radius: 8px;
  

}
.input{
 max-width:550px;
   
   
    
}

.from-button{
    grid-column: span 1;
}

.from-input input{
    outline: none;
}
/*footer */
footer{
    background: #111010;
}

.footer-con *{
    color:white;
text-align: center;
}


.footer-con{
    padding:93px 0px;
    margin-top:30px
}


.footer-title{
    color: #E55473;
   margin-right: 10px;
}
.reserver{
    color: rgba(255, 255, 255, 0.40);

    font-size: 12px;
    margin-top: 20px;
   
}
@media screen and (max-width:576px) {

    .banner {
       
        flex-direction: column;
        padding-top: 20px;
    }

    .banner-title {
        font-size: 30px;
       
    }

    .flower-img-container,.img-icon ,  .hot-deal,.insta-img-container {
     
        flex-direction: column;
    }


    #Latest-deal-con form {
      
      
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .feature-title {
        font-size: 24px;}
    #Latest-deal-con #form {
       
        margin-bottom: 20px;
    }

    .footer-con {
        padding: 93px 37px;}

        #Latest-deal-con {
           
            padding: 20px 0;
          
          background-position:left ;
        }

        .feature-title,.primary-description {
          
           
            margin-bottom: 15px;
        }

        #Latest-deal-con #form,.primary-btn {
            padding: 11px;}

            .primary-description {
                font-size: 10px;}

                .from{
                    display: grid;
                    grid-template-columns:1fr;
                   
                   margin: 20px 
                    
                    
                 ;
                 }
                 .from-input{
                    grid-column:span 1;
                    max-height:40px;
                    
                    margin-bottom: 20px;
                 
                 }
                 
                 
                 
                 .from-input input{
                     outline: none;
                 }
}